@import 'fonts';
@import 'animations';

* {
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box; 
}

a, p, span {
  font-family: 'OpenSans-Regular';
}

$base-width: 980px;
$theme-blue: #0073ba;

.inner {
  width: $base-width;
  margin: 0 auto;
}

.top-menus {
  width: 100%;
  background: $theme-blue;
  a {
    color: #fff;
    width: 100%;
    text-align: center;
    display: inline-block;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: -4px;
  }
  .left, .right {
    vertical-align: middle;
    display: inline-block;
    width: 50%;
    margin-right: -4px;
  }
  ul#menu-top-left-menu {
    li {
      a {
        padding: 10px 15px;
        @include font-size(18);
      }
      &:first-child {
        a {
          padding-left: 0px;
        }
      }
      &:last-child {
        a {
          border-right: 1px solid #fff;
          padding-right: 25px;
        }
      }
    }
  }
  .right {
    padding-right: 3px;
    ul {
      width: 100%;
      text-align: right;
      li {
        margin-right: 0;
        margin-left: 0px; 
      }
      li a i {
        @include font-size(38);
        margin-left: 10px;
      }
    }
  }
}

.header-top {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.navigation-container,
.navigation-container-inner-pages {
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid $theme-blue;
  background: #fefefe;
  .navbar {
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px solid transparent;
  }
  .navbar-default {
    background-color: transparent;
  }

  li a {
    font-family: 'OpenSans-Regular';
    color: #888888 !important;
    border-bottom: 3px solid #fff;
    &:hover {
      color: $theme-blue !important;
      border-bottom: 3px solid $theme-blue + 80;
    }
  }

  li a.active {
    background-color: transparent !important;
    color: $theme-blue !important;
    border-bottom: 3px solid $theme-blue;
    font-weight: bold;
  }
}

.content-container {
  width: 100%;
}

.footer {
  width: 100%;
  background: $theme-blue;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: none;

  .left, .right {
    display: inline-block;
    margin-right: -4px;
    width: 50%;
  }
  .left {
  }
  .right {
    text-align: right;
    span {
      padding-right: 20px;
      border-right: 1px solid #fff;
    }
  }

  #menu-footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;

    li {
      display: inline-block;
      margin-right: -4px;
      &:last-child {
        margin-right: 0px;
      }
      a{
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  a, span {
    color: #fff;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    @include font-size(18);
  }
}

#drupinas_slider {
  margin-top: 106px;
  position: relative;
  height: 100%;
  background: $theme-blue + 30;
  .item {
    img {
      width: 100%;
    }
    .wrap {
      position: absolute;
      top: 35%;
      width: 100%;
      background: url(../images/black-opaque1.png) repeat;
      text-align: center;
      
      .inner {
        padding: 15px 30px 40px 30px;
      }
    }
    h1 {
      font-family: 'Myriadpro-Light';
      @include font-size(90);
      color: #fff;
    }
    p{
      color: #fff;
    }
  }
  .owl-buttons {
    position: absolute;
    width: 100%;
    top: 42%;
    .owl-prev, .owl-next {
      display: inline-block;
      position: absolute;
      padding: 0 18px;
      i {
        color: #fff;
        @include font-size(140);
      }
    }
    .owl-prev {
      left: 0px;

    }
    .owl-next {
      right: 0px;
    }
  }
}


#blog,
#community,
#events,
#gallery,
#projects,
#sponsors {
  padding-top: 110px;
  margin-bottom: 50px;
  min-height: 800px;

  h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}


#blog {
  background: #319075;
}

#community {
  background: #520775;
}

#events {
  background: #f6f7f8;

  .view-content {
    text-align: center;
  }
  .views-row {
    display: inline-block;
    width: 30%;
    background: #fff;
    border: 1px solid #e2e2e2;
    vertical-align: top;
    padding-bottom: 26px;
    min-height: 485px;
  }

  .views-row-1,
  .views-row-2 {
    margin-right: 30px;
  }

  .views-field.views-field-field-image {
    margin-top: 26px;
    overflow: hidden;
    img {
      -webkit-transition: all 1s ease; /* Safari and Chrome */
      -moz-transition: all 1s ease; /* Firefox */
      -o-transition: all 1s ease; /* IE 9 */
      -ms-transition: all 1s ease; /* Opera */
      transition: all 1s ease;
    }
      
  }

  .views-row:hover .views-field-field-image img {
    -webkit-transform:scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:scale(1.10); /* Opera */
     transform:scale(1.10);
    -webkit-backface-visibility: hidden;
  }

  .views-field.views-field-field-date,
  .views-field.views-field-title,
  .views-field.views-field-body,
  .views-field.views-field-view-node,
  .views-field.views-field-field-image {
    margin-right: 29px;
    margin-left: 29px;
    text-align: left;
  }

  .views-field.views-field-field-date {
    background: #f0f3f5;
    color: #999999;
  }

  .views-field.views-field-title {
    margin-top: 10px;
    min-height: 40px;
    a{
      color: $theme-blue;
      font-family: 'OpenSans-Bold';
    }
  }
 
  .views-field.views-field-body {
    margin-top: 5px;
    font-family: 'OpenSans-Regular';
    color: #666666;
    @include font-size(20);
    line-height: 25px;
    min-height: 125px;
  }

  .views-field.views-field-view-node {
    margin-top: 10px;
    a {
      color: #fff;
      display: block;
      background: #c11e22;
      text-align: center;
      padding: 10px 0;
    } 
  }

  .view-footer {
    text-align: center;
    margin-top: 40px;
    a {
      color: #fff;
      display: inline-block;
      background: $theme-blue;
      text-align: center;
      padding: 15px 25px;
      @include font-size(40);
      text-decoration: none;
    }
  }

}

#gallery {
  background: #313595;
}

#projects {
  background: #319789;
}

#sponsors {
  background: #fff;
  .view-content{
    text-align: center;
  }
  .views-row {
    display: inline-block;
    width: 33%;
    margin-bottom: 30px;
  }
}

.sec-head {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 35px;
  h2 {
    font-family: 'OpenSans-Bold';
    border-bottom: 2px solid #c11e22;
    display: inline-block;
    margin-bottom: -2px !important;
    color: #0073ba;
    @include font-size(37);
    padding-bottom: 8px;
    span{
      font-family: 'OpenSans-Regular';
      color: #666666;
    }
  }
}


a.click-to-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  color: #fff;
  background: url(../images/black-opaque1.png) repeat;
  padding: 10px;
}



@import 'breakpoints/1000px';
@import 'breakpoints/800px';
@import 'breakpoints/700px';
@import 'breakpoints/600px';
@import 'breakpoints/500px';