@media (max-width:1080px) {

#drupinas_slider {
  .item {
    .wrap {   
      .inner {
        padding: 15px 70px 40px 70px;
      }
    }
  }

  .owl-buttons {
    top: 45%;
  }
}


.sec-head {
  margin-right: 15px;
  margin-left: 15px;
}


}


@media (max-width:1030px) {

.page-user,
.node-type-page {
  .page-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .col-sm-12 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.node-type-page {
  .region.region-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}


.big-bg-image {
  .title-wrap {
    h2 {
      width: 100%;
    }
  }
}



.node-type-blog,
.node-type-events,
.node-type-community-projects,
.node-type-gallery,
.page-user {
  .row {
    width: 100%;
  }

  .node-blog,
  .node-events,
  .node-community-projects
  .node-gallery,
  .profile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

}

@media (max-width:1010px) {

}


@media (max-width:1000px) {

.inner {
  width: 100%;
}

.top-menus {
  padding: 0px 10px;
}

.navigation-container {
  padding: 10px 10px;
}

.content-container {

}

.footer {
  padding: 0px 10px;
}



}

