@media (max-width:1000px) {

.inner {
  width: 100%;
}

.top-menus {
  padding: 0px 10px;
}

.navigation-container {
  padding: 10px 10px;
}

.content-container {
  padding: 0px 10px;
}

.footer {
  padding: 0px 10px;
}



}

