@media (max-width:1080px) {

#drupinas_slider {
  .item {
    .wrap {   
      .inner {
        padding: 15px 70px 40px 70px;
      }
    }
  }

  .owl-buttons {
    top: 45%;
  }
}


}





@media (max-width:1000px) {

.inner {
  width: 100%;
}

.top-menus {
  padding: 0px 10px;
}

.navigation-container {
  padding: 10px 10px;
}

.content-container {

}

.footer {
  padding: 0px 10px;
}



}

