@media (max-width:560px) {

#community {
  .views-row {
    width: 50%;
  }

  .second-text {
    p {
      width: 90%;
    }
  }
}

}


@media (max-width:520px) {

#sponsors {
  .view-content {

  }
  .views-row {
    width: 100%;
  }
}


}