@media (max-width:615px) {


.footer {
  .left, .right {
    width: 100%;
    display: block;
    text-align: center;
  }

  .right {
    border-top: 1px solid $theme-blue + 20;
    span {
      border-right: 1px solid $theme-blue + 20;
    }
  }

  a, span {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}



}



@media (max-width:640px) {

#drupinas_slider {
  .item {
    .wrap {   
      .inner {
        padding: 25px 25px 35px 25px;
        h1 {
          margin-top: 0px !important;
        }
      }
    }
    h1 {
      @include font-size(60);
    }
  }

  .owl-buttons {
    display: none;
  }
}

#events {

  .view-content {
    margin-left: 15px;
    margin-right: 15px;
  }

  .views-row {
    display: inline-block;
    width: 100%;
    margin: 0;
    margin-bottom: 26px;
    min-height: 100px;
  }

  .views-field.views-field-body {
    min-height: 40px;
  }

  .views-field.views-field-image {
    .field-content {
      text-align: center;
    }
  }

}


}
