@media (max-width:770px) {

#site-logo {
  width: 165px;
}

.navbar-toggle {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.navigation-container .navbar {
  min-height: 0px;
}

.navbar-collapse {
  margin-top: 10px;
}

#drupinas_slider {
  margin-top: 94px;
}

#blog,
#community,
#events,
#gallery,
#projects,
#sponsors {
  padding-top: 85px;
}

}


@media (max-width:730px) {

#drupinas_slider {
  .item {
    .wrap {
      position: relative;
      display: block;
      top: 35%;
      width: 100%;
      background: $theme-blue + 30;
    }
  }
  .owl-buttons {
    .owl-prev, .owl-next {
      background: url(../images/black-opaque1.png) repeat;
    }
  }
}

}

