@media (max-width:770px) {

#site-logo {
  width: 165px;
}

.navbar-toggle {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.navigation-container .navbar {
  min-height: 0px;
}

.navbar-collapse {
  margin-top: 10px;
}

}
