@media (max-width:840px) {

#events {
  .views-row-1,
  .views-row-2 {
    margin-right: 10px;
  }

}


}


@media (max-width:815px) {

#sponsors {
  .view-content {

  }
  .views-row {
    width: 49%;
  }
}

}





